<ion-view view-title="Menu">
  <ion-content class="">
    <ion-list>
      <ion-item ui-sref="list({category:1})">
        Barwniki
        <small class="royal">
          E100 - E199
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:2})">
        Konserwanty
        <small class="royal">
          E200 - E299
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:3})">
        Przeciwutleniacze
        <small class="royal">
          E300 - E399
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:4})">
        Substancje zagęszczające
        <small class="royal">
          E400 - E499
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:5})">
        Dodatki o zróżnicowanym przeznaczeniu
        <small class="royal">
          E500 - E599
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:6})">
        Wzmacniacze smaku
        <small class="royal">
          E600 - E699
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:7})">
        Substancje zastępujące cukier
        <small class="royal">
          E900 - E1299
        </small>
      </ion-item>
      <ion-item ui-sref="list({category:8})">
        Modyfikowane skrobie
        <small class="royal">
          E1200 - E1451
        </small>
      </ion-item>
      <ion-item class="item-divider">
        Aplikacja
      </ion-item>
      <ion-item ng-click="openModal()">
        O aplikacji
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>