<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="pl.patryk1303.elist" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>E-list</name>
  <description>
        A list of E ingredients.
    </description>
  <author email="patryk1303@gmail.com" href="http://wychowaniecp.pl/">
      Patryk Wychowaniec
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>